<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>欢迎:<%= userName %></h1>
    <a href="http://127.0.0.1:5000/detail">点击跳转到用户详情页面</a>
</body>

</html>