@font-face {
  font-family: "iconfont"; /* Project id 2562343 */
  src: url('../media/iconfont.woff2') format('woff2'),
       url('../media/iconfont.woff') format('woff'),
       url('../media/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dicengjiagou:before {
  content: "\e98c";
}

.icon-cangchucangku:before {
  content: "\e98d";
}

.icon-bingtutubiao:before {
  content: "\e98e";
}

.icon-erweima:before {
  content: "\e98f";
}

.icon-fuwuqi:before {
  content: "\e990";
}

